@model BangazonSiteMVC.Models.OrderLineItem

<div>
    <h4>OrderLineItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Shoes
        </dt>

        <dd>
            Size
        </dd>

    </dl>
</div>