@model BangazonSiteMVC.Models.OrderLineItem

<div>
    <h4>OrderLineItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

    </dl>
</div>